.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.pastry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formCard {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}
